@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

body {
    width: 100%;
    height: 100%;
    background: #000 url(сжатые/0back.jpg);
    
    background-attachment: fixed;
    background-size: cover;
    overflow: hidden;
}

/** Начало карты **/
.mapbox{
    display:flex;
    max-width: 98%;
    height:60px;
    left:10px;
    right:10px;
    top:20px;
    position: absolute;  
    margin-top: 3%;
    margin-left: 3%;
    z-index: 100;
}


.map{
    width: 60px;
    height: 60px;
    background: url(source/homeicon.png);
    background-size: 100% 100%;
    border: transparent;
    outline: none;
    
}
.empty1{
    width: 93%;
    height: 100%;
}
.map1{
    margin-right: 3%;
    width: 60px;
    height: 60px;
    background: url(source/mapicon.png);
    background-size: 100% 100%;
    border: transparent;
    outline: none;

}
/** Конец карты **/


/** Начало персонажа**/
.humanbox{
    display:flex;
    width: 98%;
    height: 87%;
    left:10px;
    right:10px;
    bottom: 0;
    position: absolute;  
    overflow:hidden;
    z-index: 1;
}

.emptybox{
    width: 70%;
    height: 100%;
}
.imagebox{
    background-image: none;
    max-width: 25%;
    width: 270px;
    height: 100%;
    visibility:hidden;
}
.pers{
    width: 110%;
    height: 100%;
}

/** Конец персонажа**/

/** Начало контейнера с выбором**/
.choicebox{
    width: 100%;
    position: absolute;
    height: 20%;
    top:40%;
    left:0px;
    margin:auto;
    z-index: 50;
}
.emptychoice{
    left:0px;
    width: 100%;
    height: 10px;
    
}

.choiceyes{
    border: 1px solid transparent;
    color: #FFFFFF;
    font-size: 22px;
    display: table;
    margin: 0 auto;
    width: 30%;
    height: 30%;
    background: rgba(12, 16, 47, 0.8);
    border-radius: 90px;
    visibility:hidden;
}
.choiceno{
    border: 1px solid transparent;
    color: #FFFFFF;
    font-size: 22px;
    left:0px;
    display: table;
    margin: 0 auto;
    width: 30%;
    height: 30%;
    background: rgba(12, 16, 47, 0.8);
    border-radius: 90px;
    visibility:hidden;
}
/** Конец контейнера с выбором**/

/** Начало контейнера с текстом**/
.textrole{
    max-width: 98%;
    height: 17%;
    left:10px;
    right:10px;
    bottom: 10px;
    position: absolute;  
    overflow:hidden;
    z-index: 50;
}
.rolebox{
    width: 100%;
    height: 25%;
    display:flex;
}
.roleimage{
    width: fit-content;
    height: fit-content;
    background: #D9D9D9;
    border-radius: 50px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 0.7%;
    visibility:hidden;
}
.empt{
    width: 10%;
    height: 100%;
}

.textbox {
    display:flex;
    overflow:hidden; 
    width: 100%;
    height: 75%;
    background: rgba(12, 16, 47, 0.8);
    
    
}
.role{
    width: 92%;
    height: 100%;

    font-family: 'Montserrat', sans-serif;
    font-size: 17px;
    padding: 0 10px 0 10px;
    color: #030944;
    font-weight: 600;
    text-align: left;
    
}


.text{
    width: 92%;
    height: 100%;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 500;
    color: #FFFFFF;
    text-align: left;
    padding: 15px;

}


.arrowback{
    /*!border: 1px solid coral; background-color:transparent;*/
    width: 9%;
    max-height: 100%;
    background: url(Source/Vector3.png);
    background-size: 100% 100%;
    border: transparent;
    outline: none;
    
}
.arrownext{
    /*!border: 1px solid coral; background-color:transparent;*/
    width: 9%;
    max-height: 100%;
    background: url(Source/Vector2.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    border: transparent;
    outline: none;
    
}
/** Конец контейнера с текстом**/